
/*ОБНУЛЕНИЕ*/
	*{
		padding: 0;
		margin: 0;
		border: 0;
	}
	*,*:before,*:after{
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	:focus,:active{outline: none;}
	a:focus,a:active{outline: none;}

	nav,footer,header,aside{display: block;}

	html,body{
		height: 100%;
		width: 100%;
		font-size: 100%;
		line-height: 1;
		font-size: 14px;
		-ms-text-size-adjust: 100%;
		-moz-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
	}
	input,button,textarea{font-family:inherit;}

	input::-ms-clear{display: none;}
	button{cursor: pointer;}
	button::-moz-focus-inner {padding:0;border:0;}
	a, a:visited{text-decoration: none;}
	a:hover{text-decoration: none;}
	ul li{list-style: none;}
	img{vertical-align: top;}

	h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*===========*/

/*ОБЩИЕ СТИЛИ*/
	/*IBG*/
		.ibg {
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
		}

		.ibg img {
			width: 0;
			height: 0;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			visibility: hidden;
		}
	/*===========*/
	.wrapper {
		overflow: hidden;
		min-height: 100%;
		background: #161616;
	}
	.content {

	}
	.container {
		max-width: 1220px;
		padding: 0 10px;
		margin: 0 auto;
	}
	.yellow {
		color: #ffc600;
		display: inline-block;
	}
	.big-let {
		font-size: 50px;
		display: inline-block;
	}
	.ttl-brdr {
		display: inline-block;
		/*height: 75px;*/
		border-bottom: 1px solid #c5c5c5;
		/*padding: 0 0 5px 0;*/
	}
	.no-pad {
		padding: 0;
	}
	.section__title {
		margin: 0 0 30px 0;
		position: relative;
		z-index: 2;
		min-width: 260px;
	}
	.section__title-item {
		font-size: 40px;
		font-family: "MyriadPro-Semibold", sans-serif;
		color: #000;
		margin: 0 0 0 80px;
	}
	.--white {
		color: #fff;
	}
/*===========*/

/*SUBLIME*/
	.sublime {
		background: url(../img/sublime/bg.png) 50%/cover no-repeat;
	}
	.sublime__row {
		margin: 0 0 100px 0;
		/*padding: 150px 0 0 45px;*/
	}
	.sublime__row:last-child {
		margin: 0;
		padding: 0;
	}
	.bg {
		background: url(../img/sublime/bg_2.png) 50%/cover no-repeat;
		height: 650px;
	}
	.sublime__head__item {
		padding: 80px 0 0 45px;/**/
	}
	.sublime__head__item-title {
		font-size: 150px;
		font-family: "MyriadPro-Bold", sans-serif;
		color: #fff;
		text-align: left;
		letter-spacing: -2px;
	}
	.sublime__head__item-subtitle {
		font-size: 18px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #fff;
		line-height: 22px;
		text-align: left;
	}
	.sublime__column {
		margin: 0 0 60px 0;
	}
	.sublime__column:last-child {
		margin: 0;
	}
	.sublime__bottom__title {
		font-size: 60px;
		font-family: "MyriadPro-Bold", sans-serif;
		color: #fff;
		font-weight: bold;
		padding: 70px 0 0 45px;
	}
	.header__menu {
		padding: 0 0 0 45px;
	}
	.header__menu-list {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
	.header__menu-list li {
		margin: 0 35px 0 0;
	}
	.header__menu-list li:last-child {
		margin: 0;
	}
	.header__menu-link {
		font-size: 20px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #ffc600;
		padding: 0 0 5px 0;
		border-bottom: 2px solid transparent;
		transition: all 0.3s ease 0s;
	}
	.header__menu-link:hover {
		color: #fff;
		border-bottom: 2px solid #ffc600;
	}
/*===========*/

/*ABOUT*/
	.about {

	}
	.about__body {
		background-color: #fff;
		padding: 40px 10px 60px;
	}
	.about__row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.about__row-head {
		margin: 0 0 70px 0;
	}
	.about__row-head:last-child {
		margin: 0;
	}
	.about__column-head {
		flex: 0 1 50%;
		margin: 0 0 0 100px;
	}
	.about__column-head:last-child {
		margin: 0;
	}
	.about__item-head {}
	.about__item-head--title {
		font-size: 30px;
		font-family: "MyriadPro-Semibold", sans-serif;
		color: #717171;
		margin: 0 0 -15px 0;
	}
	.about__item-head--subtitle {
		font-size: 80px;
		font-family: "MyriadPro-Semibold", sans-serif;
		color: #000;
		/*position: relative;*/
	}
	/*.about__item-head--subtitle:after {
		position: absolute;
		top: 97%;
		left: 150px;
		width: 130px;
		border-top: 2px solid #ffc600;
		content:"";
	}*/
	.about__item-head--text {
		font-size: 16px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #595959;
		line-height: 20px;
	}
	.italic {
		color: #000;
		font-style: italic;
		margin: 0 0 20px 0;
	}
	.about__row-bot {
		max-width: 950px;
    	margin: 0 auto;
    	align-items: flex-start;
	}
	.about__column-bot {
		margin: 0 20px 0 0;
		flex: 0 1 30%;
		min-width: 200px;
	}
	.about__item-bot {
		
	}
	.about__column-bot:last-child {
		margin: 0;
	}
	.about__item-bot--img {
		text-align: center;
		margin: 0 0 15px 0;
	}
	.about__item-bot--title {
		text-align: center;
		font-size: 18px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #000;
		font-weight: 600;
		margin: 0 0 15px 0;
	}
	.about__item-bot--text {
		font-size: 14px;
		font-family: "MyriadPro-It", sans-serif;
		color: #000;
		line-height: 20px;
		text-align: center;
	}
	.about__item-bot--text p{
		margin: 0 0 15px 0;
	}
	.about__item-bot--text p:last-child{
		margin: 0;
	}
/*===========*/

/*FEATURED*/
	.featured {}
	.featured__body {
		background-color: #fff;
		padding: 0 0 50px 0px;
	}
	.tabs {}
	.tabs__items {
		margin: 0 0 25px 80px;
	}
	.tabs__item {
		font-size: 15px;
		font-family: "MyriadPro-Semibold", sans-serif;
		color: #101010;
		position: relative;
		margin: 0 10px 0 0;
		display: inline-block;
	}
	.tabs__item:first-child {
		margin: 0 35px 0 0;
	}
	.tabs__item:last-child {
		margin: 0;
	}
	.tabs__item:hover:after {
		position: absolute;
		top: 130%;
		left: 25%;
		width: 50%;
		border-top: 2px solid #ffc600;
		content:"";
	}
	.tabs__item-active:after {
		position: absolute;
		top: 130%;
		left: 25%;
		width: 50%;
		border-top: 2px solid #ffc600;
		content:"";
	}
	.tabs__body {}
	.tabs__block {
		display: none;
	}
	.tabs__block.tabs__block-active {
		display: block;
	}
	.tabs__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	.tabs__column {
		flex: 1 1 25%;
		min-width: 300px;
		max-width: 300px;
		min-height: 270px;
		position: relative;
	}
	.tabs__column img{
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.tabs__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: rgba(22, 22, 22, 0.5);
		opacity: 0;
		transition: all 0.3s ease 0s;
	}
	.tabs__overlay:hover {
		opacity: 1;
	}
	.tabs__overlay p {
		font-size: 20px;
		color: #fff;
		text-transform: uppercase;
		font-family: "MyriadPro-Semibold", sans-serif;
	}
/*===========*/

/*STRATEGIC*/
	.strategic {}
	.strategic__body {
		background-color: #fff;
		padding: 0 0 50px 0;
	}
	.strategic__text {
		font-size: 16px;
		margin: 0 80px 40px 80px;
	}
	.strategic__text-top {
		margin: 0 0 20px 0;
		color: #000;
		font-family: "MyriadPro-It", sans-serif;
		line-height: 20px;
	}
	.strategic__text-bot {
		line-height: 20px;
		color: #595959;
		font-family: "MyriadPro-Regular", sans-serif;
	}
	.strategic__content {
		max-width: 900px;
		margin: 0 auto;
	}
	.strategic__content__row {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.strategic__column {
		flex: 0 1 50%;
	}
	.strategic__column-img {}
	.strategic__column-img img {
		width: 100%;
	}
	.strategic__column__body {
		align-items: flex-start;
		justify-content: center;
		display: flex;
		flex-direction: column;
		margin: 0 40px;
	}
	.strategic__column__body-title {
		font-size: 50px;
		font-family: "MyriadPro-Semibold", sans-serif;
		color: #1d1d1d;
		margin: 0 0 15px 0;
	}
	.strategic__column__body-text--top {
		font-size: 16px;
		font-family: "MyriadPro-It", sans-serif;
		color: #000;
		margin: 0 0 15px 0;
		line-height: 20px;
	}
	.strategic__column__body-text--bot {
		font-size: 16px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #000;
		line-height: 20px;
	}
/*===========*/

/*SERVICES*/
	.services {}
	.services__body {
		background: url(../img/services/bg_n.png) 50%/cover no-repeat;
		position: relative;
		padding: 50px 0 40px 0;

	}
	.services__body-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: url(../img/services/gradient.png) 50%/cover no-repeat;
		opacity: 0.7;
	}
	.services__row {
		display: flex;
		position: relative;
		z-index: 2;
	}
	.services__row-content {
		flex: 0 1 60%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.services__row-content--small {
		flex: 0 1 40%;
	}
	.services__column {
		max-width: 300px;
		margin: 0 0 70px 0;
	}
	.services__column:nth-child(3),
	.services__column:nth-child(4) {
		margin: 0 0 0px 0;
	}
	.services__column-item {}
	.services__column-item--title {
		font-size: 19px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #fff;
		margin: 0 0 30px 0;
	}
	.services__column-item--text {
		font-size: 15px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #fff;
		line-height: 20px;
	}
/*===========*/

/*TEAM*/
	.team {}
	.team__title {
		margin: 0;
	}
	.team__body {
		background-color: #fff;
		padding: 50px 0;
	}
	.team__row {
		display: flex;
	}
	.team__content {
		margin: 0 30px 0 100px;
	}
	.team__content__text {
		margin: 0 0 35px 0;
		padding: 0 140px 0 0;
	}
	.team__content__text-top {
		margin: 0 0 25px 0;
		font-family: "MyriadPro-It", sans-serif;
		font-size: 16px;
		line-height: 20px;
	}
	.team__content__text-bot {
		color: #595959;
		font-family: "MyriadPro-Regular", sans-serif;
		font-size: 14px;
		line-height: 20px;
	}
	.team__content__row {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.team__content__column {
		margin: 0 0 30px 0;
	}
	.team__content__column-img {
		margin: 0 5px 20px 0;
	}
	.team__content__column-text {
		text-align: center;
		font-size: 16px;
		color: #000;
	}
	.team__content__column-text--name {
		font-family: "MyriadPro-Semibold", sans-serif;
		line-height: 20px;
	}
	.team__content__column-text--position {
		font-family: "MyriadPro-It", sans-serif;
	}
/*===========*/

/*TESTIMONIALS*/
	.testimonials {}
	.testimonials__body {
		background-color: #000;
		padding: 50px 0;
	}
	.testimonials__row {
		max-width: 900px;
		margin: 0 auto;
		padding: 0 10px;
	}
	.testimonials__row__item {
		display: flex;
		min-width: 0;
		overflow: hidden;
	}
	.testimonials__column__content {
		justify-content: center;
		display: flex;
		flex-direction: column;
		flex: 0 1 70%;
	}
	.testimonials__column__content-top {
		color: #fff;
		font-size: 16px;
		line-height: 20px;
		font-family: "MyriadPro-It", sans-serif;
		margin: 0 0 20px 0;
	}
	.testimonials__column__content-bot {
		color: #fff;
		font-size: 14px;
		line-height: 20px;
		font-family: "MyriadPro-Regular", sans-serif;
	}
	.testimonials__column__image {
		flex: 0 1 30%;
		align-items: center;
		display: flex;
		justify-content: center;
	}
	.testimonials__column__image-body {
		display: inline-flex;
		flex-direction: column;
	}
	.testimonials__column__image-img {
		border-radius: 50%;
		overflow: hidden;
		border: 2px solid #fea700;
		margin: 0 0 15px 0;
	}
	.testimonials__column__image-text {
		text-align: center;
	}
	.testimonials__column__image-text--name {
		color: #fff;
		font-family: "MyriadPro-Semibold", sans-serif;
		font-size: 16px;
		line-height: 20px;
	}
	.testimonials__column__image-text--position {
		color: #fff;
		font-size: 16px;
		line-height: 20px;
		font-family: "MyriadPro-It", sans-serif;
	}
	/*SLIDER*/
		.slick-list {
			overflow: hidden;
			margin: 0 0 10px 0;
		}
		.slick-track{
			display: flex;
			align-items: flex-start;
		}
		.testimonials__row .slick-dots{
			display: flex;
			align-items: center;
			justify-content: center;
		}
		.testimonials__row .slick-dots li{
			list-style: none;
			margin: 0px 10px;
		}
		.testimonials__row .slick-dots button{
			font-size: 0;
			width: 10px;
			height: 10px;
			background-color: #fff;
			border-radius: 50%;
		}
		.testimonials__row .slick-dots li.slick-active button{
			background-color: transparent;
			border: 1px solid #fff;
		}
	/*===========*/
/*===========*/

/*BLOGS*/
	.blogs {
	}
	.blogs__body {
		background-color: #fff;
		padding: 50px 0 30px 0;
	}
	.blogs__row {
		display: flex;
	}
	.blogs__column {
		flex: 0 1 25%;
	}
	.blogs__column-right {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 1 75%;
	}
	.blogs__tabs__nav {
		display: flex;
		justify-content: flex-end;
	}
	.blogs__tabs {
		display: flex;
		flex-direction: column;
		margin: 0 10px 0 0;
	}
	.blogs__tabs__item {
		font-size: 18px;
		font-family: "MyriadPro-Regular", sans-serif;
		color: #000;
		line-height: 20px;
		margin: 0 0 20px 0;
		transition: 0.3s all ease 0s;
	}
	.blogs__column__body {
		display: none;
	}
	.blogs__column__body-active {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		width: 100%;
	}
	.blogs__column__body-item {
		flex: 0 1 26%;
		min-width: 200px;
		padding: 10px 5px;
	}
	.blogs__column__body-item--image {
		margin: 0 0 15px 0;
	}
	.blogs__column__body-item--image img {
		width: 100%;
	}
	.blogs__column__body-item--date {
		color: #ffc600;
		font-size: 18px;
		font-family: "MyriadPro-Regular", sans-serif;
		line-height: 20px;
		margin: 0 0 10px 0;
	}
	.blogs__column__body-item--title {
		font-family: "MyriadPro-Bold", sans-serif;
		font-size: 15px;
		color: #000;
		line-height: 20px;
		margin: 0 0 5px 0;
	}
	.blogs__column__body-item--description {
		font-family: "MyriadPro-It", sans-serif;
		font-size: 14px;
		color: #000;
		line-height: 20px;
	}
	.blogs__tabs__item-active {
		color: #ffc600;
	}
	
/*===========*/

@media (max-width: 1100px) {

/*SERVICES*/
	.services__row-content {
		flex: 0 1 70%;
	}
	.services__row-content--small {
		flex: 0 1 30%;
	}
/*===========*/

/*TEAM*/
	.team__content__text {
		padding: 0;
	}
		.team__content {
		margin: 0 20px 0 50px;
	}
	.team__content__column:last-child {
		margin: 0;
	}
/*===========*/

}

@media (max-width: 1000px) {

/*STRATEGIC*/
	.strategic__column__body {
		margin: 0 10px;
	}
	.strategic__column-img {
		margin: 0 0 0 10px;
	}
	.column-img--left {
		margin: 0 10px 0 0;
	}
	.strategic__column__body-title {
		font-size: 40px;
	}
/*===========*/

/*SERVICES*/
	.services__row-content--small {
		display: none;
	}
	.services__row-content {
		flex: 0 1 100%;
	}
	.services__column-item {
	    padding: 0 5px;
	}
/*===========*/

/*TEAM*/
	.team__body {
		padding: 50px 0 10px 0;
	}
	.team__content {
		margin: 0 30px 0 50px;
	}
	.team__content__column:nth-child(3) {
		margin: 0;
	}
/*===========*/

}

@media (max-width: 767px) {

/*ОБЩИЕ СТИЛИ*/
	.section__title-item {
		margin: 0;
		text-align: center;
	}
/*===========*/

/*SUBLIME*/
	.sublime__head__item {
	    padding: 30px 0 0 20px;
	}
	.sublime__row {
	    margin: 0 0 30px 0;
	}
	.sublime__bottom__title {
	    padding: 30px 0 0 20px;
	}
	.header__menu {
	    padding: 0 0 0 20px;
	}
	.sublime__column {
	    margin: 0 0 30px 0;
	}
	.bg {
		background: url(../img/sublime/bg_2.png) 50%/cover no-repeat;
		height: 650px;
		position: relative;
	}
	.bg-opacity {
		width: 100%;
	    height: 100%;
	    position: absolute;
	    top: 0px;
	    background: rgba(0,0,0,0.3);
	    position: absolute;
	}
/*===========*/

/*ABOUT*/
	.about__body {
		padding: 30px 10px 50px;
	}
	.about__row-head {
		flex-direction: column;
		margin: 0 0 30px 0;
	}
	.about__item-head {
		max-width: 600px;
	}
	.about__column-head {
		margin: 0 0 20px 0px;
	}
	.about__row-bot {
		flex-direction: column;
		align-items: center;
	}
	.about__column-bot {
		margin: 0 0px 20px 0;
		min-width: 200px;
		max-width: 400px;
	}
/*===========*/

/*FEATURED*/
	.featured__body {
		padding: 0px 0 30px 0;
	}
	.tabs__items {
		margin: 0 0 25px 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.tabs__item {
		margin: 15px 0px 0 0;
	}
	.tabs__item:first-child {
		margin: 0;
	}
	.tabs__item:last-child {
		margin: 15px 0 0 0;
	}
	.tabs__item-active:after {
		top: 110%;
	}
/*===========*/

/*STRATEGIC*/
	.strategic__body {
		padding: 0 0 10px 0;
	}
	.strategic__text {
		margin: 0 10px 25px 10px;
	}
	.strategic__column__body-title {
		font-size: 35px;
	}
	.strategic__content__row {
		flex-direction: column;
	}
	.-revers {
		flex-direction: column-reverse;
	}
	.strategic__column-img {
		margin: 0 0 20px 0;
	}
	.strategic__column-img--left {
		margin: 0 0 20px 0;
	}
	.strategic__column__body {
		max-width: 600px;
		align-items: center;
		margin: 0 10px 20px;
	}
/*===========*/

/*SERVICES*/
	.services__column {
		max-width: 500px;
		margin: 0 0 50px 0;
	}
	.services__body {
	    padding: 20px 0 30px 0;
	}
	.services__column:nth-child(3) {
		margin: 0px 0 50px 0;
	}
	.services__column-item {
		padding: 0;
	}
	.services__column-item--title {
		margin: 0 0 20px 0;
	}
/*===========*/

/*TEAM*/
	.team__row {
		flex-direction: column;
	}
	.team__title {
		margin: 0 0 15px 0;
	}
	.team__body {
		padding: 30px 0;
	}
	.team__content__column {
		flex: 0 1 40%;
	}
	.team__content__column-img img {
		width: 100%;
	}
	.team__content__row {
		justify-content: space-around;
	}
	.team__content {
	 	margin: 0;
	}
	.team__content__text {
		margin: 0 10px 20px 10px;
	}
	.team__content__column-img {
		margin: 0 0px 10px 0;
	}
/*===========*/

/*TESTIMONIALS*/
	.testimonials__body {
		padding: 30px 0;
	}
/*===========*/

/*BLOGS*/
	.blogs__body {
		padding: 20px 0;
	}
	.blogs__row {
		flex-direction: column;
	}
	.blogs__column {
		margin: 0 0 15px 0;
	}
	.blogs__column-right {
		margin: 0;
	}
	.blogs__tabs {
		flex-direction: row;
		margin: 0 10px;
		justify-content: center;
		flex-wrap: wrap;
	}
	.blogs__tabs__item {
		min-width: 100px;
		margin: 5px;
		padding: 5px;
		border-radius: 5px;
	}
	.blogs__tabs__item-active {
		color: #fff;
		background: #ffc600;
	}
/*===========*/

}

@media (max-width: 650px) {

/*SERVICES*/
	.services__column {
		margin: 0 0 30px 0;
	}
	.services__column:nth-child(3) {
		margin: 0 0 30px 0;
	}
/*===========*/

}

@media (max-width: 599px) {

/*SUBLIME*/

	.sublime__head__item-title {
	    font-size: 120px;
	}
	.sublime__bottom__title {
	    font-size: 50px;
	}
	.sublime__head__item {
	    padding: 30px 0 0 5px;
	}
	.sublime__bottom__title {
	    padding: 30px 0 0 5px;
	}
	.header__menu {
	    padding: 0 0 0 5px;
	}
/*===========*/

/*SERVICES*/
	.services__row {
		margin: 0 10px;
	}
/*===========*/

}

@media (max-width: 500px) {

/*TESTIMONIALS*/
	.testimonials__row__item {
		flex-direction: column-reverse;
	}
	.testimonials__column__image-body {
		margin: 0 0 20px 0;
	}
	.slick-list {
		margin: 0 0 20px 0;
	}
/*===========*/

}

@media (max-width: 479px) {

/*SUBLIME*/
	.sublime__head__item-title {
		font-size: 80px;
	}
	.header__menu-list {
	    display: block;
	}
	.header__menu-list li {
	    margin: 0 0px 15px 0;
	}
	.sublime__bottom__title {
	    max-width: 200px;
	}
/*===========*/

}

@media (max-width: 400px) {

/*ОБЩИЕ СТИЛИ*/
	.ttl-brdr {
	    height: 100%;
	}
	.section__title-item {
		font-size: 35px;
	}
/*===========*/

/*ABOUT*/
	.about__item-head--subtitle {
		font-size: 70px;
	}
	.about__body {
		padding: 10px 10px 30px;
	}
/*===========*/

/*BLOGS*/
	.blogs__tabs__nav {
		justify-content: center;
		text-align: center;
	}
	.blogs__tabs {
		flex-direction: column;
		margin: 0;
		align-items: center;
	}
/*===========*/

}